*{
    margin: 0;
    padding: 0;
    background-color: rgb(68, 108, 123);
    font-family: sans-serif;
}

.main{
    
    height: 100vh;
    position: relative;
}

/* Navbar */
.navbar{
    top: 0;
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    
}

.navbar .logo{
    width: 160px;
    margin-top: -3%;
    margin-left: -2%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(4, 6, 6);
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover{
    color: rgb(230,104,59);
}

/* Skills section */
h1 {
    text-align: center;
    
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}

.skill {
    width: 150px;
    text-align: center;
}

.skill h3 {
    margin-top: 15px;
}

.skill p {
    font-size: 12px;
    color: #ccc;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.html {
    border: 6px solid red;
}

.css {
    border: 6px solid dodgerblue;
}

.js {
    border: 6px solid yellow;
    color: black;
}

.node {
    border: 6px solid lime;
}

.react {
    border: 6px solid cyan;
}

.circle:hover {
    transform: scale(1.1);
    transition: 0.3s;
}




