*{
    margin: 0;
    padding: 0;
    background-color: rgb(68, 108, 123);
    font-family: sans-serif;
}

.main{
    
    height: 100vh;
    position: relative;
}

/* Navbar */
.navbar{
    top: 0;
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    
}

.navbar .logo{
    width: 160px;
    margin-top: -3%;
    margin-left: -2%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(4, 6, 6);
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover{
    color: rgb(230,104,59);
}



/* Project sections */
div[class^="Project"] {
    background: #44609d68;
    margin: 20px auto;
    padding: 2px;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

div[class^="Project"]:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

div[class^="Project"] p {
    font-size: 18px;
    line-height: 1.4;
}





